body {
    background-color: #c2ffc4;
}
.marksmen {
    font-size: 20px;
    color: dodgerblue;
    font-style: oblique;
    padding-left: 1em;
}
h3 {
    color: dodgerblue;
}
h4 {
    color: dodgerblue;
}
h2 {
    font-size: 20px;
    color: dodgerblue;
    font-style: oblique;
}
body,html {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
   
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding-left: 80em;
    background-color: #E15D44;
    width: 100%;
}
footer {
    display: grid;
    grid-template-rows: 2em;
    justify-items: center;
    color: white;
    font-size: 20px;
    width: 100%;
}
.policy {
    background-color: #E15D44;
    width: 100%;
    padding-left: 65em;
}
.lessons {
    background-color: #E15D44;
    width: 100%;
    padding-left: 110em;
}
.navbar,.navbar2 {
    font-family: sans-serif;
    font-style: italic;
    background-color: dodgerblue;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: white;
    padding: 5px;
}
.bottom {
    width: 100%
}
a {
    padding: 1rem;
    margin: 1rem;
}